body {
  font-family: Virgula Vulgaris;
}

#title {
  background-color: #800000;
  color: #fff;

}
#title .start{
  margin: 5em 0 0;
}

#title .container-fluid {
  padding: 3% 15%;
}

#title h1 {
  font-family: 'virgula-vulgaris';
  line-height: 1.5;
  font-size: 2em;
}

#testimonials h2 {
  font-family: 'virgula-vulgaris';
  font-size: 3rem;
  line-height: 1.5;
}

#about h2 {
  font-size: 3em;
  font-family: 'virgula-vulgaris';
  text-align: center;
}

p {
  color: #8f8f8f;
}

/*.container .navbar {
    padding-bottom: 4rem;
}*/
.navbar .navbar-brand {
  font-family: 'Montserrat-black';
  font-size: 3rem;
  line-height: 1.5;
}


section .container .navbar a {
  color: var(--bs-yellow);
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-black';
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 100%;
  overflow: hidden;
}

#features {
  padding: 7% 15%;
  text-align: center;
}

.icon {
  color: var(--bs-yellow);
  margin-bottom: 1rem;
}

.icon:hover {
  color: #800000;
}

/*testimonial*/
#testimonials {
  text-align: center;
  background: maroon;
  color: #fff;
}

.testimonial-image {
  width: 15%;
  border-radius: 20%;
  margin: 1.666em
}

.carousel-item {
  padding: 7% 15%;
}

#about {
  padding: 3% 15%;
}

.about-img-img {
  width: 100%;
  border-radius: 10%;
}

.about-title {
  text-align: justify;
}

.about-title p {
  font-size: 1em;
  line-height: 1.5;
}
