body {
    font-family: Virgula Vulgaris;
}

h1,
h2 {
    font-family: 'virgula-vulgaris';
}

p {
    color: #8f8f8f;
}

span {
    color: var(--bs-yellow);
}

.start {
    margin: 1em 0 0;
}

#title {
    background-color: #800000;
    color: #fff;
}

#title .container-fluid {
    padding: 3% 15%;
}

#title h1 {
    line-height: 1.5;
    font-size: 1.5em;
    margin: 1em 0;
}

#testimonials h2 {
    font-size: 3rem;
    line-height: 1.5;
}

#about h2 {
    font-size: 3em;
    font-family: 'virgula-vulgaris';
    text-align: center;
    margin-bottom: 1em;
}

#cta {
    padding: 13% 35%;
    text-align: center;
    color: var(--bs-yellow);
}

#footer {
    background-color: #800000;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 4em;
}

.navbar-toggler .icon {
    color: var(--bs-yellow);
}

.navbar-toggler .icon:hover {
    color: var(--bs-maroon);
}

.navbar .navbar-brand {
    font-family: 'Montserrat-black';
    font-size: 3rem;
    line-height: 1.5;
}

section .container .navbar a {
    color: var(--bs-yellow);
}

.nav-item {
    padding: 0 .5em;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-black';
    text-align: center;
}

.title-image {
    width: 100%;
    margin-top: 2em;
}

#features {
    padding: 3% 15%;
    text-align: center;
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: var(--bs-yellow);
    margin-bottom: 1rem;
}

.icon:hover {
    color: #800000;
}


/*testimonial*/

#testimonials {
    text-align: center;
    background: maroon;
    color: #fff;
}

.testimonial-image {
    width: 15%;
    border-radius: 20%;
    margin: 1.666em
}

.carousel-item {
    padding: 7% 15%;
}

#about {
    padding: 5% 15%;
}

.about-img-img {
    width: 100%;
    border-radius: 10%;
    margin: 0 0 4em;
}

.pic-about {
    text-align: center;
}

.about-title {
    text-align: center;
}

.container .about-title {
    width: 100%;
}

.about-title p {
    font-size: 1em;
    line-height: 1.5;
}

.pic-about {
    margin: auto;
    text-align: center;
}


/*shop*/

.shopy h2 {
    color: var(--bs-yellow);
    font-family: 'virgula-vulgaris';
    font-size: 3em;
    text-align: center;
    margin-bottom: .5em;
}

#shop {
    background-color: maroon;
    padding: 3% 15% 10%;
}

#shop .shop-thumb__img {
    margin: 3em 0;
}

.shop__thumb {
    width: 100%;
    margin: auto;
}

.shop__thumb a {
    color: var(--bs-white);
    text-decoration: none;
}

.shop-thumb__img img {
    width: 100%;
    border: .3em solid var(--bs-yellow);
}

.introd {
    text-align: center;
    color: #ffffff;
}

.social-icon {
    margin: 1em .9em;
    color: var(--bs-white);
    ;
}

@media (max-width:1028) {
    #title {
        text-align: center;
    }
    .shop-thumb__img img,
    .about-img {
        width: 50%;
    }
}

@media (max-width:475px) {
    #title {
        background-color: #800000;
        color: #fff;
    }
    #title h1 {
        font-family: 'virgula-vulgaris';
        line-height: 1.5;
        font-size: 1.4em;
        text-align: center;
    }
    #testimonials h2 {
        font-family: 'virgula-vulgaris';
        font-size: 2rem;
        line-height: 1;
    }
    #about h2 {
        font-size: 2em;
        font-family: 'virgula-vulgaris';
        text-align: center;
        margin-bottom: 1em;
    }
    .title-image {
        width: 100%;
        text-align: center;
        margin: 1em 0;
        z-index: 12;
    }
    .about-img-img {
        width: 50%;
        border-radius: 10%;
    }
    .shop-thumb__img img {
        width: 100%;
    }
    .navbar-brand .navbar-icon {
        width: 11.8rem;
        padding: 0 auto;
    }
}
